


.newsidebar
	.newsidebar__inner#sidebar-custom-sb
		.newsidebar__inner-2
			a.newsidebar__logo(href="/")
				img(src="images/simplified-logo-2.png", alt="")



			.newsidebar-menu-item.newsidebar-search
				form.newsidebar-menu-item__link(action="")
					input.newsidebar-search__input(type="text", name="" placeholder="Поиск")
					button.newsidebar-search__btn(type="submit")  <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3199 17.9999L22.6238 22.2928M21.0072 11.1775C21.0072 16.7023 16.5285 21.1811 11.0036 21.1811C5.47877 21.1811 1 16.7023 1 11.1775C1 5.6526 5.47877 1.17383 11.0036 1.17383C16.5285 1.17383 21.0072 5.6526 21.0072 11.1775Z" stroke="#2497d1" stroke-width="2"/></svg>


			.newsidebar-menu
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") Главная
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") Новости
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") Подать заявление на обслуживание
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") Обратная связь
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") Социальные проекты
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") Часто задаваемые вопросы
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") Как помочь
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") Контакты
				.newsidebar-menu-item.newsidebar-menu-item--has-sub
					.newsidebar-menu-item__link.js-sb-open-sub Только подменю
					.newsidebar-menu-item__open-submenu.js-sb-open-sub
					.newsidebar-submenu
						.newsidebar-submenu__inner
							a.newsidebar-submenu__item(href="")  подпункт 1
							a.newsidebar-submenu__item(href="")  подпункт 2
							a.newsidebar-submenu__item(href="")  подпункт 3
							a.newsidebar-submenu__item(href="")  подпункт 4
							a.newsidebar-submenu__item(href="")  подпункт 5
				.newsidebar-menu-item.newsidebar-menu-item--has-sub
					a.newsidebar-menu-item__link(href="") Ссылка и подменю
					.newsidebar-menu-item__open-submenu.js-sb-open-sub
					.newsidebar-submenu
						.newsidebar-submenu__inner
							a.newsidebar-submenu__item(href="")  подпункт 1
							a.newsidebar-submenu__item(href="")  подпункт 2
							a.newsidebar-submenu__item(href="")  подпункт 3
							a.newsidebar-submenu__item(href="")  подпункт 4
							a.newsidebar-submenu__item(href="")  подпункт 5
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") пункт 4
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") пункт 5
				.newsidebar-menu-item
					a.newsidebar-menu-item__link(href="") пункт 6