doctype html

block vars
include ../components/_mixins

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(property="og:image" content="images/logo.svg")
		meta(name="format-detection" content="telephone=no")
		style
			| .nv-meta-list li.meta:not(:last-child):after { content:"/" }.nv-meta-list .no-mobile{						display:none;					}.nv-meta-list li.last::after{						content: ""!important;					}@media (min-width: 769px) {						.nv-meta-list .no-mobile {							display: inline-block;						}						.nv-meta-list li.last:not(:last-child)::after {							content: "/" !important;						}					}			:root{ --container: 748px;--postwidth:100%; --primarybtnbg: var(--nv-primary-accent); --primarybtnhoverbg: var(--nv-primary-accent); --primarybtncolor: #fff; --secondarybtncolor: var(--nv-primary-accent); --primarybtnhovercolor: #fff; --secondarybtnhovercolor: var(--nv-primary-accent);--primarybtnborderradius:3px;--secondarybtnborderradius:3px;--secondarybtnborderwidth:3px;--btnpadding:13px 15px;--primarybtnpadding:13px 15px;--secondarybtnpadding:10px 12px; --bodyfontfamily: Arial,Helvetica,sans-serif; --bodyfontsize: 15px; --bodylineheight: 1.6; --bodyletterspacing: 0px; --bodyfontweight: 400; --h1fontsize: 36px; --h1fontweight: 700; --h1lineheight: 1.2; --h1letterspacing: 0px; --h1texttransform: none; --h2fontsize: 28px; --h2fontweight: 700; --h2lineheight: 1.3; --h2letterspacing: 0px; --h2texttransform: none; --h3fontsize: 24px; --h3fontweight: 700; --h3lineheight: 1.4; --h3letterspacing: 0px; --h3texttransform: none; --h4fontsize: 20px; --h4fontweight: 700; --h4lineheight: 1.6; --h4letterspacing: 0px; --h4texttransform: none; --h5fontsize: 16px; --h5fontweight: 700; --h5lineheight: 1.6; --h5letterspacing: 0px; --h5texttransform: none; --h6fontsize: 14px; --h6fontweight: 700; --h6lineheight: 1.6; --h6letterspacing: 0px; --h6texttransform: none;--formfieldborderwidth:2px;--formfieldborderradius:3px; --formfieldbgcolor: var(--nv-site-bg); --formfieldbordercolor: #dddddd; --formfieldcolor: var(--nv-text-color);--formfieldpadding:10px 12px; } .single-post-container .alignfull > [class*="__inner-container"], .single-post-container .alignwide > [class*="__inner-container"]{ max-width:718px } .nv-meta-list{ --avatarsize: 20px; } .single .nv-meta-list{ --avatarsize: 20px; } .nv-post-cover{ --height: 250px;--padding:40px 15px;--justify: flex-start; --textalign: left; --valign: center; } .nv-post-cover .nv-title-meta-wrap, .nv-page-title-wrap, .entry-header{ --textalign: left; } .nv-is-boxed.nv-title-meta-wrap{ --padding:40px 15px; --bgcolor: var(--nv-dark-bg); } .nv-overlay{ --opacity: 50; --blendmode: normal; } .nv-is-boxed.nv-comments-wrap{ --padding:20px; } .nv-is-boxed.comment-respond{ --padding:20px; } .global-styled{ --bgcolor: var(--nv-site-bg); } .header-top{ --rowbcolor: var(--nv-light-bg); --color: var(--nv-text-color); --bgcolor: var(--nv-site-bg); } .header-main{ --rowbwidth:0px; --rowbcolor: var(--nv-light-bg); --color: var(--nv-text-color); } .header-bottom{ --rowbwidth:0px; --rowbcolor: var(--nv-light-bg); --color: var(--nv-site-bg); --bgcolor: var(--nv-secondary-accent); } .header-menu-sidebar-bg{ --justify: center; --textalign: center;--flexg: 0;--wrapdropdownwidth: calc( 100% + 44px ); --color: var(--nv-text-color); --bgcolor: var(--nv-secondary-accent); } .header-menu-sidebar{ width: 360px; } .builder-item--logo{ --maxwidth: 350px; --color: var(--nv-site-bg);--padding:10px 0;--margin:0; --textalign: left;--justify: flex-start; } .builder-item--nav-icon,.header-menu-sidebar .close-sidebar-panel .navbar-toggle{ --borderradius:0;--borderwidth:1px; } .builder-item--nav-icon{ --label-margin:0 5px 0 0;;--padding:10px 15px;--margin:0; } .builder-item--primary-menu{ --hovercolor: var(--nv-site-bg); --activecolor: var(--nv-site-bg); --spacing: 20px; --height: 25px;--padding:0;--margin:0; --fontsize: 1em; --lineheight: 1.6em; --letterspacing: 0px; --fontweight: 300; --texttransform: uppercase; --iconsize: 1em; } .hfg-is-group.has-primary-menu .inherit-ff{ --inheritedfw: 300; } .builder-item--button_base{ --primarybtnbg: var(--nv-secondary-accent); --primarybtncolor: #fff; --primarybtnhoverbg: var(--nv-secondary-accent); --primarybtnhovercolor: var(--nv-site-bg);--primarybtnborderradius:100px 10px;--primarybtnborderwidth:0 5px;--primarybtnshadow:none;--primarybtnhovershadow:none;--padding:8px 60px;--margin:0; } .builder-item--custom_html{ --color: #000000;--padding:0;--margin:0; --fontsize: 12px; --lineheight: 1.6em; --letterspacing: 0px; --fontweight: 300; --texttransform: none; --iconsize: 12px; --textalign: left;--justify: flex-start; } .footer-top-inner .row{ grid-template-columns:1fr 1fr 1fr; --valign: flex-start; } .footer-top{ --rowbcolor: var(--nv-light-bg); --color: var(--nv-text-color); --bgcolor: var(--nv-site-bg); } .footer-main-inner .row{ grid-template-columns:1fr; --valign: flex-start; } .footer-main{ --rowbcolor: var(--nv-light-bg); --color: var(--nv-text-color); --bgcolor: var(--nv-secondary-accent); } .footer-bottom-inner .row{ grid-template-columns:1fr 1fr 1fr; --valign: flex-start; } .footer-bottom{ --rowbcolor: var(--nv-light-bg); --color: var(--nv-text-dark-bg); --bgcolor: var(--nv-dark-bg); } .builder-item--footer-menu{ --color: var(--nv-site-bg); --hovercolor: var(--nv-site-bg); --spacing: 20px; --height: 25px;--padding:0;--margin:0; --fontsize: 1em; --lineheight: 1.6em; --letterspacing: 0px; --fontweight: 500; --texttransform: uppercase; --iconsize: 1em; --textalign: left;--justify: flex-start; } .page_header-top{ --rowbcolor: var(--nv-light-bg); --color: var(--nv-text-color); --bgcolor: var(--nv-site-bg); } .page_header-bottom{ --rowbcolor: var(--nv-light-bg); --color: var(--nv-text-color); --bgcolor: var(--nv-site-bg); } .posts-wrapper{ --alignment: left; --height: 350px; --justify: center; } .scroll-to-top{ --color: var(--nv-text-dark-bg);--padding:8px 10px; --borderRadius: 3px; --bgColor: var(--nv-primary-accent); --hoverColor: var(--nv-text-dark-bg); --hoverBgColor: var(--nv-primary-accent);--size:16px; } @media(min-width: 576px){ :root{ --container: 992px;--postwidth:50%;--btnpadding:13px 15px;--primarybtnpadding:13px 15px;--secondarybtnpadding:10px 12px; --bodyfontsize: 16px; --bodylineheight: 1.6; --bodyletterspacing: 0px; --h1fontsize: 38px; --h1lineheight: 1.2; --h1letterspacing: 0px; --h2fontsize: 30px; --h2lineheight: 1.2; --h2letterspacing: 0px; --h3fontsize: 26px; --h3lineheight: 1.4; --h3letterspacing: 0px; --h4fontsize: 22px; --h4lineheight: 1.5; --h4letterspacing: 0px; --h5fontsize: 18px; --h5lineheight: 1.6; --h5letterspacing: 0px; --h6fontsize: 14px; --h6lineheight: 1.6; --h6letterspacing: 0px; } .single-post-container .alignfull > [class*="__inner-container"], .single-post-container .alignwide > [class*="__inner-container"]{ max-width:962px } .nv-meta-list{ --avatarsize: 20px; } .single .nv-meta-list{ --avatarsize: 20px; } .nv-post-cover{ --height: 320px;--padding:60px 30px;--justify: flex-start; --textalign: left; --valign: center; } .nv-post-cover .nv-title-meta-wrap, .nv-page-title-wrap, .entry-header{ --textalign: left; } .nv-is-boxed.nv-title-meta-wrap{ --padding:60px 30px; } .nv-is-boxed.nv-comments-wrap{ --padding:30px; } .nv-is-boxed.comment-respond{ --padding:30px; } .header-main{ --rowbwidth:0px; } .header-bottom{ --rowbwidth:0px; } .header-menu-sidebar-bg{ --justify: center; --textalign: center;--flexg: 0;--wrapdropdownwidth: calc( 100% + 44px ); } .header-menu-sidebar{ width: 360px; } .builder-item--logo{ --maxwidth: 350px;--padding:10px 0;--margin:0; --textalign: left;--justify: flex-start; } .builder-item--nav-icon{ --label-margin:0 5px 0 0;;--padding:10px 15px;--margin:0; } .builder-item--primary-menu{ --spacing: 20px; --height: 25px;--padding:0;--margin:0; --fontsize: 1em; --lineheight: 1.6em; --letterspacing: 0px; --iconsize: 1em; } .builder-item--button_base{ --padding:8px 12px;--margin:0; } .builder-item--custom_html{ --padding:0;--margin:0; --fontsize: 1em; --lineheight: 1.6em; --letterspacing: 0px; --iconsize: 1em; --textalign: left;--justify: flex-start; } .builder-item--footer-menu{ --spacing: 20px; --height: 25px;--padding:0;--margin:0; --fontsize: 1em; --lineheight: 1.6em; --letterspacing: 0px; --iconsize: 1em; --textalign: left;--justify: flex-start; } .posts-wrapper{ --height: 350px; } .scroll-to-top{ --padding:8px 10px;--size:16px; } }@media(min-width: 960px){ :root{ --container: 1170px;--postwidth:100%;--btnpadding:13px 15px;--primarybtnpadding:13px 15px;--secondarybtnpadding:10px 12px; --bodyfontsize: 16px; --bodylineheight: 1.7; --bodyletterspacing: 0px; --h1fontsize: 40px; --h1lineheight: 1.1; --h1letterspacing: 0px; --h2fontsize: 32px; --h2lineheight: 1.2; --h2letterspacing: 0px; --h3fontsize: 28px; --h3lineheight: 1.4; --h3letterspacing: 0px; --h4fontsize: 24px; --h4lineheight: 1.5; --h4letterspacing: 0px; --h5fontsize: 20px; --h5lineheight: 1.6; --h5letterspacing: 0px; --h6fontsize: 16px; --h6lineheight: 1.6; --h6letterspacing: 0px; } body:not(.single):not(.archive):not(.blog):not(.search):not(.error404) .neve-main > .container .col, body.post-type-archive-course .neve-main > .container .col, body.post-type-archive-llms_membership .neve-main > .container .col{ max-width: 100%; } body:not(.single):not(.archive):not(.blog):not(.search):not(.error404) .nv-sidebar-wrap, body.post-type-archive-course .nv-sidebar-wrap, body.post-type-archive-llms_membership .nv-sidebar-wrap{ max-width: 0%; } .neve-main > .archive-container .nv-index-posts.col{ max-width: 100%; } .neve-main > .archive-container .nv-sidebar-wrap{ max-width: 0%; } .neve-main > .single-post-container .nv-single-post-wrap.col{ max-width: 70%; } .single-post-container .alignfull > [class*="__inner-container"], .single-post-container .alignwide > [class*="__inner-container"]{ max-width:789px } .container-fluid.single-post-container .alignfull > [class*="__inner-container"], .container-fluid.single-post-container .alignwide > [class*="__inner-container"]{ max-width:calc(70% + 15px) } .neve-main > .single-post-container .nv-sidebar-wrap{ max-width: 30%; } .nv-meta-list{ --avatarsize: 20px; } .single .nv-meta-list{ --avatarsize: 20px; } .nv-post-cover{ --height: 400px;--padding:60px 40px;--justify: flex-start; --textalign: left; --valign: center; } .nv-post-cover .nv-title-meta-wrap, .nv-page-title-wrap, .entry-header{ --textalign: left; } .nv-is-boxed.nv-title-meta-wrap{ --padding:60px 40px; } .nv-is-boxed.nv-comments-wrap{ --padding:40px; } .nv-is-boxed.comment-respond{ --padding:40px; } .header-main{ --rowbwidth:0px; } .header-bottom{ --rowbwidth:0px; } .header-menu-sidebar-bg{ --justify: center; --textalign: center;--flexg: 0;--wrapdropdownwidth: calc( 100% + 44px ); } .header-menu-sidebar{ width: 360px; } .builder-item--logo{ --maxwidth: 350px;--padding:10px 0;--margin:0; --textalign: left;--justify: flex-start; } .builder-item--nav-icon{ --label-margin:0 5px 0 0;;--padding:10px 15px;--margin:0; } .builder-item--primary-menu{ --spacing: 20px; --height: 25px;--padding:0;--margin:0; --fontsize: 1.3em; --lineheight: 1.6em; --letterspacing: 0px; --iconsize: 1.3em; } .builder-item--button_base{ --padding:8px 60px;--margin:0; } .builder-item--custom_html{ --padding:0;--margin:0; --fontsize: 18px; --lineheight: 1.6em; --letterspacing: 0px; --iconsize: 18px; --textalign: left;--justify: flex-start; } .builder-item--footer-menu{ --spacing: 20px; --height: 25px;--padding:0;--margin:0; --fontsize: 1em; --lineheight: 1.6em; --letterspacing: 0px; --iconsize: 1em; --textalign: left;--justify: flex-start; } .posts-wrapper{ --height: 280px; } .scroll-to-top{ --padding:8px 10px;--size:16px; } }#menu-item-161>.sub-menu{--gridCols:1fr 1fr 1fr}#menu-item-161>.sub-menu>li:nth-child(3n){border:0!important;}#menu-item-236>.sub-menu{--gridCols:1fr 1fr 1fr}#menu-item-236>.sub-menu>li:nth-child(3n){border:0!important;}#menu-item-239>.sub-menu{--gridCols:1fr 1fr 1fr}#menu-item-239>.sub-menu>li:nth-child(3n){border:0!important;}#menu-item-234>.sub-menu{--gridCols:1fr 1fr 1fr}#menu-item-234>.sub-menu>li:nth-child(3n){border:0!important;}#menu-item-235>.sub-menu{--gridCols:1fr 1fr 1fr}#menu-item-235>.sub-menu>li:nth-child(3n){border:0!important;}#menu-item-252>.sub-menu{--gridCols:1fr 1fr 1fr}#menu-item-252>.sub-menu>li:nth-child(3n){border:0!important;}#menu-item-1341>.sub-menu{--gridCols:1fr 1fr 1fr}#menu-item-1341>.sub-menu>li:nth-child(3n){border:0!important;}#menu-item-1409>.sub-menu{--gridCols:1fr 1fr 1fr}#menu-item-1409>.sub-menu>li:nth-child(3n){border:0!important;}.scroll-to-top {right: 20px; border: none; position: fixed; bottom: 30px; display: none; opacity: 0; visibility: hidden; transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; align-items: center; justify-content: center; z-index: 999; } @supports (-webkit-overflow-scrolling: touch) { .scroll-to-top { bottom: 74px; } } .scroll-to-top.image { background-position: center; } .scroll-to-top .scroll-to-top-image { width: 100%; height: 100%; } .scroll-to-top .scroll-to-top-label { margin: 0; padding: 5px; } .scroll-to-top:hover { text-decoration: none; } .scroll-to-top.scroll-to-top-left {left: 20px; right: unset;} .scroll-to-top.scroll-show-mobile { display: flex; } @media (min-width: 960px) { .scroll-to-top { display: flex; } }.scroll-to-top { color: var(--color); padding: var(--padding); border-radius: var(--borderRadius); background-color: var(--bgColor); } .scroll-to-top:hover, .scroll-to-top:focus { color: var(--hoverColor); background-color: var(--hoverBgColor); } .scroll-to-top-icon, .scroll-to-top.image .scroll-to-top-image { width: var(--size); height: var(--size); } .scroll-to-top-image { background-image: var(--bgImage); background-size: cover; }:root{--nv-primary-accent:#0a689d;--nv-secondary-accent:#2497d1;--nv-site-bg:#ffffff;--nv-light-bg:#f4f5f7;--nv-dark-bg:#121212;--nv-text-color:#272626;--nv-text-dark-bg:#ffffff;--nv-c-1:#9463ae;--nv-c-2:#be574b;--nv-fallback-ff:Arial, Helvetica, sans-serif;}
		link(href="https://anomiloserdie.ru/wp-content/themes/neve/style-main-new.min.css?ver=3.4.4" rel="stylesheet")
		link(href="css/main.css" rel="stylesheet")



		//title= `${page.title}`

	body
		block header
			header.header
				a.neve-skip-link.show-on-focus(href='#content')
					| Перейти к содержимому
				#header-grid.hfg_header.site-header
					nav.header--row.header-main.hide-on-mobile.hide-on-tablet.layout-full-contained.nv-navbar.header--row(data-row-id='main' data-show-on='desktop')
						.header--row-inner.header-main-inner
							.container
								.row.row--wrapper(data-section='hfg_header_layout_main')
									.hfg-slot.left
										.builder-item.desktop-left
											.item--inner.builder-item--logo(data-section='title_tagline' data-item-id='logo')
												.site-logo
													a.brand(href='https://anomiloserdie.ru/' title='Милосердие-на-Дону' aria-label='Милосердие-на-Дону')
														img.neve-site-logo.skip-lazy(width='2156' height='1701' src='https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701.png' alt='' decoding='async' loading='lazy' data-variant='logo' srcset='https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701.png 2156w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-300x237.png 300w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-1024x808.png 1024w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-768x606.png 768w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-1536x1212.png 1536w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-2048x1616.png 2048w' sizes='(max-width: 2156px) 100vw, 2156px')
										.builder-item.desktop-left
											.item--inner.builder-item--custom_html(data-section='custom_html' data-item-id='custom_html')
												.nv-html-content
													p(style='text-align: left') г. Ростов-на-Дону, ул. Лелюшенко, д. 15
													p(style='text-align: left') Время работы с 09:00 до 18:00
													p(style='text-align: left') Выходные: суббота, воскресенье
													p(style='text-align: left') Обед с 13:00 до 14:00
									.hfg-slot.right
										.builder-item.desktop-left
											.item--inner.builder-item--button_base(data-section='header_button' data-item-id='button_base')
												.component-wrap
													a.button.button-primary(href='tel:+7(908)500-96-97') +7 (908) 500-96-97
					.header--row.header-bottom.hide-on-mobile.hide-on-tablet.layout-full-contained.header--row(data-row-id='bottom' data-show-on='desktop')
						.header--row-inner.header-bottom-inner
							.container
								.row.row--wrapper(data-section='hfg_header_layout_bottom')
									.hfg-slot.left
										.builder-item.has-nav
											.item--inner.builder-item--primary-menu.has_menu(data-section='header_menu_primary' data-item-id='primary-menu')
												.nv-nav-wrap
													.nav-menu-primary.style-border-bottom.m-style(role='navigation' aria-label='Основное меню')
														ul#nv-primary-navigation-bottom.primary-menu-ul.nav-ul.menu-desktop
															li#menu-item-161.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-93.current_page_item.menu-item-161.contained
																a(href='https://anomiloserdie.ru/' aria-current='page') Главная
															li#menu-item-236.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-236.contained
																a(href='https://anomiloserdie.ru/novosti/') Новости
															li#menu-item-239.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-239.contained
																a(href='https://anomiloserdie.ru/vidy-uslug/') Виды услуг
															li#menu-item-234.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-234.contained
																a(href='https://anomiloserdie.ru/podat-zayavlenie-na-obsluzhivanie/') Подать заявление на обслуживание
															li#menu-item-235.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-235.contained
																a(href='https://anomiloserdie.ru/feedback/') Обратная связь
															li#menu-item-252.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-252.contained
																a(href='https://anomiloserdie.ru/faq/') Часто задаваемые вопросы
															li#menu-item-1341.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1341.contained
																a(href='https://anomiloserdie.ru/soczialnye-proekty/') Социальные проекты
															li#menu-item-1409.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1409.contained
																a(href='https://anomiloserdie.ru/kak-pomoch/') КАК ПОМОЧЬ
									.hfg-slot.right
					.header--row.header-top.hide-on-desktop.layout-fullwidth.has-center.header--row(data-row-id='top' data-show-on='mobile')
						.header--row-inner.header-top-inner
							.container
								.row.row--wrapper(data-section='hfg_header_layout_top')
									.hfg-slot.left
									.hfg-slot.center
										.builder-item.tablet-left.mobile-left
											.item--inner.builder-item--logo(data-section='title_tagline' data-item-id='logo')
												.site-logo
													a.brand(href='https://anomiloserdie.ru/' title='Милосердие-на-Дону' aria-label='Милосердие-на-Дону')
														img.neve-site-logo.skip-lazy(width='2156' height='1701' src='https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701.png' alt='' decoding='async' loading='lazy' data-variant='logo' srcset='https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701.png 2156w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-300x237.png 300w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-1024x808.png 1024w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-768x606.png 768w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-1536x1212.png 1536w, https://anomiloserdie.ru/wp-content/uploads/2022/02/logo_2156x1701-2048x1616.png 2048w' sizes='(max-width: 2156px) 100vw, 2156px')
									.hfg-slot.right
					nav.header--row.header-main.hide-on-desktop.layout-full-contained.nv-navbar.header--row(data-row-id='main' data-show-on='mobile')
						.header--row-inner.header-main-inner
							.container
								.row.row--wrapper(data-section='hfg_header_layout_main')
									.hfg-slot.left
										.builder-item.tablet-left.mobile-left
											.item--inner.builder-item--custom_html(data-section='custom_html' data-item-id='custom_html')
												.nv-html-content
													p(style='text-align: left') г. Ростов-на-Дону, ул. Лелюшенко, д. 15
													p(style='text-align: left') Время работы с 09:00 до 18:00
													p(style='text-align: left') Выходные: суббота, воскресенье
													p(style='text-align: left') Обед с 13:00 до 14:00
									.hfg-slot.right
										.builder-item.tablet-left.mobile-left
											.item--inner.builder-item--nav-icon(data-section='header_menu_icon' data-item-id='nav-icon')
												.menu-mobile-toggle.item-button.navbar-toggle-wrapper
													button.navbar-toggle(type='button' value='Меню навигации' aria-label='Меню навигации ')
														span.bars
															span.icon-bar
															span.icon-bar
															span.icon-bar
														span.screen-reader-text Меню навигации
												// .navbar-toggle-wrapper
					.header--row.header-bottom.hide-on-desktop.layout-full-contained.has-center.header--row(data-row-id='bottom' data-show-on='mobile')
						.header--row-inner.header-bottom-inner
							.container
								.row.row--wrapper(data-section='hfg_header_layout_bottom')
									.hfg-slot.left
									.hfg-slot.center
										.builder-item.tablet-left.mobile-left
											.item--inner.builder-item--button_base(data-section='header_button' data-item-id='button_base')
												.component-wrap
													a.button.button-primary(href='tel:+7(908)500-96-97') +7 (908) 500-96-97
									.hfg-slot.right
					#header-menu-sidebar.header-menu-sidebar.menu-sidebar-panel.slide_left(data-row-id='sidebar')
						#header-menu-sidebar-bg.header-menu-sidebar-bg
							.close-sidebar-panel.navbar-toggle-wrapper
								button.hamburger.is-active.navbar-toggle.active(type='button' value='Меню навигации' aria-label='Меню навигации ')
									span.bars
										span.icon-bar
										span.icon-bar
										span.icon-bar
									span.screen-reader-text
										| Меню навигации
							#header-menu-sidebar-inner.header-menu-sidebar-inner
								.builder-item.has-nav
									.item--inner.builder-item--primary-menu.has_menu(data-section='header_menu_primary' data-item-id='primary-menu')
										.nv-nav-wrap
											.nav-menu-primary.style-border-bottom.m-style(role='navigation' aria-label='Основное меню')
												ul#nv-primary-navigation-sidebar.primary-menu-ul.nav-ul.menu-mobile
													li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-93.current_page_item.menu-item-161.contained
														a(href='https://anomiloserdie.ru/' aria-current='page') Главная
													li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-236.contained
														a(href='https://anomiloserdie.ru/novosti/') Новости
													li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-239.contained
														a(href='https://anomiloserdie.ru/vidy-uslug/') Виды услуг
													li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-234.contained
														a(href='https://anomiloserdie.ru/podat-zayavlenie-na-obsluzhivanie/') Подать заявление на обслуживание
													li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-235.contained
														a(href='https://anomiloserdie.ru/feedback/') Обратная связь
													li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-252.contained
														a(href='https://anomiloserdie.ru/faq/') Часто задаваемые вопросы
													li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1341.contained
														a(href='https://anomiloserdie.ru/soczialnye-proekty/') Социальные проекты
													li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1409.contained
														a(href='https://anomiloserdie.ru/kak-pomoch/') КАК ПОМОЧЬ
					.header-menu-sidebar-overlay.hfg-ov
				#page-header-grid.hfg_page_header.page-header

		main.main
			block main

		block footer
			a#scroll-to-top.scroll-to-top.scroll-to-top-right.icon(tabindex='0' on='tap:neve_body.scrollTo(duration=200)' aria-label='Scroll to Top')
				svg.scroll-to-top-icon(aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15')
					rect(width='15' height='15' fill='none')
					path(fill='currentColor' d='M7.86,1.93l5.83,10.2a.8.8,0,0,1-1.08,1.1L8,10.65a.83.83,0,0,0-.78,0L2.39,13.36a.79.79,0,0,1-1.1-1L6.45,2A.8.8,0,0,1,7.86,1.93Z')
				p.scroll-to-top-label Наверх
			footer#site-footer.site-footer
				.hfg_footer
					#cb-row--footer-main.footer--row.footer-main.layout-full-contained(data-row-id='main' data-show-on='desktop')
						.footer--row-inner.footer-main-inner.footer-content-wrap
							.container
								.hfg-grid.nv-footer-content.hfg-grid-main.row--wrapper.row(data-section='hfg_footer_layout_main')
									.hfg-slot.left
										.builder-item.desktop-left.tablet-left.mobile-left
											.item--inner.builder-item--footer-menu.has_menu(data-section='footer_menu_primary' data-item-id='footer-menu')
												.component-wrap
													.style-border-bottom.nav-menu-footer(role='navigation' aria-label='Меню подвала')
														ul#footer-menu.footer-menu.nav-ul
															li#menu-item-559.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-559
																a(href='https://anomiloserdie.ru/svedeniya-o-personalnom-sostave-rabotnikov/') Сведения о персональном составе работников
															li#menu-item-560.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-560
																a(href='https://anomiloserdie.ru/zakonodatelstvo/') Законодательство
															li#menu-item-561.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-561
																a(href='https://anomiloserdie.ru/blagodarstvennye-pisma-ot-poluchatelej-soczialnyh-uslug/') Благодарность наших благополучателей
															li#menu-item-562.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-562
																a(href='https://anomiloserdie.ru/vy-mozhete-pomoch/') Вы можете помочь
															li#menu-item-563.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-563
																a(href='https://anomiloserdie.ru/finansovo-hozyajstvennaya-deyatelnost/') Финансово-хозяйственная деятельность
															li#menu-item-564.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-564
																a(href='https://anomiloserdie.ru/kontakty/') Контакты
															li#menu-item-565.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-565
																a(href='https://anomiloserdie.ru/informacziya-o-postavshhike-soczialnyh-uslug/') Информация о поставщике социальных услуг
															li#menu-item-1340.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1340
																a(href='https://anomiloserdie.ru/soczialnye-proekty/') Социальные проекты

		block modals


		script(src="js/main.js")

		block scripts
